{% extends 'main' %}
{% set pageId = 'Bannersmall' %}


{% block main %}

  <div class="container" id="docsbody">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="sidebar">
          <div id="SideBar" class="docsnav">

            <div class="list-group panel hidden-xs hidden-sm">

              {% for doc in site.docs %}
                {% if doc.children %}
                  <a href="#{{ doc.id }}" {% if doc.slug == page.slug %} class="active list-group-item moreitems firstitemlist" {% else %} class="list-group-item moreitems firstitemlist" {% endif %}
                     data-toggle="collapse" data-parent="#SideBar">{{ doc.name }}</a>
                  <div class="collapse" id="{{ doc.id }}">
                    {% for child_doc in doc.children %}
                      <a href="{{ site.url }}/{{ child_doc.url }}" {% if child_doc.slug == page.slug %} class="active list-group-item secontitemlist" {% else %} class="list-group-item secontitemlist" {% endif %}
                         data-parent="#{{ page.slug }}">{{ child_doc.name }}</a>
                    {% endfor %}
                  </div>
                {% else %}
                  <a href="{{ site.url }}/{{ doc.url }}" {% if doc.slug == page.slug %} class="active list-group-item firstitemlist" {% else %} class="list-group-item firstitemlist" {% endif %}>{{ doc.name }}</a>
                {% endif %}
              {% endfor %}

            </div>

            <div class="list-group panel dropdown hidden-md hidden-lg">
              <div class="select-style">
                <select>
                  {% for doc in site.docs %}

                    <option value="/documentation/{{ doc.id }}">{{ doc.name }}</option>

                  {% endfor %}
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 doccontent">
        {% block content %} {% endblock %}
      </div>
    </div>

  </div>

{% endblock %}


{% block scripts %}

  {{ parent() }}

  <script>

    // Scrollspy

    $ ("#navbar-scrollselenia ul li a[href^='#']").on ('click', function (e) {
      // prevent default anchor click behavior
      e.preventDefault ();
      // store hash
      var hash = this.hash;
      // animate
      $ ('html, body').animate ({
        scrollTop: $ (hash).offset ().top
      }, 300, function () {
        // when done, add hash to url
        // (default click behaviour)
        window.location.hash = hash;
      });
    });

    // Shift scroll position up

    var shiftWindow = function () { scrollBy (0, -100) };
    if (location.hash) shiftWindow ();
    window.addEventListener ("hashchange", shiftWindow);

    //

    $ (".docsnav select").change (function () {
      window.location = $ (this).find ("option:selected").val ();
    });

  </script>

{% endblock %}
